<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication"
          android:versionCode="1"
          android:versionName="1.0.0.1" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name="Database.DBapplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:networkSecurityConfig="@xml/network_security_config"
    >

        <activity
                android:name="com.example.myapplication.Login"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="Login"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.example.myapplication.allProduct"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="allStock" >
        </activity>
        <activity
                android:name="com.example.myapplication.shopkeeperCircleMainUI"
                android:label="shopkeeperCircleMainUI"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
                android:name="com.example.myapplication.sell_addNewOrder"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="sell_addNewOrder" >
        </activity>
        <activity
                android:name="com.example.myapplication.allEmployee"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="allEmployee" >
        </activity>
        <activity
                android:name="com.example.myapplication.allCustomer"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="allCustomer" >
        </activity>
        <activity
                android:name="com.example.myapplication.orderLists"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="orderLists" >
        </activity>
        <activity
                android:name="com.example.myapplication.orderItems"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="orderItems" >
        </activity>
        <activity
                android:name="com.example.myapplication.allStock"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="allStock" >
        </activity>
        <activity
                android:name="com.example.myapplication.unChecked"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="unChecked" >
        </activity>
        <activity
                android:name="com.example.myapplication.unPaid"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="unPaid" >
        </activity>
        <activity
                android:name="com.example.myapplication.finished"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="finished" >
        </activity>
        <activity
                android:name="com.example.myapplication.unReturned"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="unReturned" >
        </activity>
        <activity
                android:name="com.example.myapplication.returned"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:label="returned" >
        </activity>
    </application>
</manifest>